/* Add google fonts here */
@import url('https://fonts.googleapis.com/css2?family=Roboto');
/*
.page {
    max-width: 1080px;
}
*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    margin-top: 1%;
    /* background-color: gray; */
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #956851;
    font-weight: 100;
}

#logo {
    text-decoration: none;
    font-size: 200%;
    float: left;
}

#menu,
#logo {
    line-height: 70px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color:#36312c;
}

#menu li:hover {
    background-color: #956851;
    color: #939d99;
}

#menu a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 110%;
    padding: 0.25rem;
    color: inherit;
}


#hero-outer {
    height: 400px;
    max-height: fit-content;
    max-width: 100%;
}

#hero-image {
    width: 120%;
    height: 100%;
    background: url(../images/hero-image3.jpg) no-repeat center center;
    background-size: 100%;
}

#video-container {
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: auto;
    border: 3px solid #36312c;
    border-radius: 3px;
}

#intro-video {
    width: 33%;

}